<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<title>Change!</title>
		<!-- CSS  -->
		<link href="{{ url_for('static', filename='v2/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link href="static/manifest.json" rel="manifest" />
		<meta name="theme-color" content="#43a047"/>
		<!-- iOS support -->
		<link href="/icons/icon-96x96.png" rel="apple-touch-icon" />
		<meta name="apple-mobile-web-app-  status-bar" content="#43a047"/>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="sidenav" class="sidenav">
			<a class="view-link">Planning</a>
			<a class="view-link">Spendings</a>
			<a class="view-link">Savings</a>
			<a class="view-link">Settings</a>
		</div>
		
		<main id="main">
		{% block content %}{% endblock %}
		<!--nav>
			<div class="nav-header">
				<button type="button" class="nav-item large-text">+</button>
				<button type="button" id="editPlanning" class="nav-item large-text">✎</button>
				<button type="button" class="nav-item large-text">+</button>
			</div>
			<div class="nav-footer">
				<button class="nav-item nav-trigger" data-side="left">☰</button>
				<button id="sliceId" class="tab dropup nav-item active-tab">2023 <span class="white-50">▼</span></button>
				<button id="sliceName" class="nav-item"> </button>
				<button class="nav-trigger nav-item" data-side="right">☰</button>
			</div>
		</nav-->
		</main>
		<!--  Scripts-->
		<!--script src="static/js/app.js"></script-->
		{% block script %}{% endblock %}
	</body>
</html>