<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<title>Change!</title>
		<!-- CSS  -->
		<link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link href="static/manifest.json" rel="manifest" />
		<meta name="theme-color" content="#43a047"/>
		<!-- iOS support -->
		<link href="/icons/icon-96x96.png" rel="apple-touch-icon" />
		<meta name="apple-mobile-web-app-  status-bar" content="#43a047"/>

		<style>
		.vertical-center {
		  margin: 0;
		  position: absolute;
		  top: 50%;
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		}
		</style>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="green darken-2 nav-extended" role="navigation">
			<div class="nav-wrapper container">
				<!--a id="logo-container" class="brand-logo">
					<img src="static/icons/cash-multiple.svg" alt="CashMultiple" />
				</a-->
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="/Planning">Planning</a>
					</li>
					<li>
						<a href="/">Monthly Spendings</a>
					</li>
					<li>
						<a href="/Settings">Settings</a>
					</li>
					<li>
						<a href="/v2">Change V2</a>
					</li>
				</ul>
				<ul id="nav-mobile" class="sidenav">
					<li>
						<a href="/Planning">Planning</a>
					</li>
					<li>
						<a href="/">Monthly Spendings</a>
					</li>
					<li>
						<a href="/Settings">Settings</a>
					</li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger">
					<img class="white-fill" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E" alt="Menu" />
				</a>
			</div>
			<div class="nav-content container">
				<ul id="tabs" class="tabs tabs-transparent">
					{% block tabs %}{% endblock %}
				</ul>
			</div>
		</nav>
		<main id="main">
		{% block content %}{% endblock %}
		</main>
		<footer class="page-footer green darken-1">
			<div class="footer-copyright">
				<div class="container">
					Made by <a class="orange-text text-lighten-3" href="#!">Sebi</a>
				</div>
			</div>
		</footer>
		<!--  Scripts-->
		<script src="static/js/app.js"></script>
		<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		{% block script %}{% endblock %}
	</body>
</html>