{% extends "Base.html" %}
{% block head %}
<style>
	
</style>
{% endblock %}
{% block tabs %}
<li id="loading_tab" class="tab">
	<a><h6>Loading...</h6></a>
</li>
{% endblock %}

{% block content %}

{% endblock %}

{% block script %}
<script src='static/js/settings.js'></script>
<script src='static/js/idb.js'></script>
<script src='static/js/gui.js'></script>
<script src='static/js/gDrive.js'></script>
<script src='static/js/planningCache.js'></script>
<script src='static/js/spendingCache.js'></script>
<script src='static/js/spendingTab.js'></script>
<script src='static/js/spendingController.js'></script>
<script src='static/js/icons.js'></script>
<script src='static/js/spendingGdrive.js'></script>
<script src='static/js/planningGdrive.js'></script>
{% endblock %}