{% extends "Base.html" %}
{% block head %}
<style>
	
</style>
{% endblock %}
{% block tabs %}
<li id="loading_tab" class="tab">
	<a><h6>Loading...</h6></a>
</li>
{% endblock %}

{% block content %}

{% endblock %}

{% block script %}
<script src='static/js/settings.js'></script>
<script src='static/js/idb.js'></script>
<script src='static/js/gui.js'></script>
<script src='static/js/gDrive.js'></script>
<script src='static/js/planningCache.js'></script>
<script src='static/js/spendingCache.js'></script>
<script src='static/js/spendingTab.js'></script>
<script src='static/js/spendingGdrive.js'></script>
<script src='static/js/spendingController.js'></script>
<script src='static/js/icons.js'></script>

<script>
	//If the user clicks a subcategory, we should close the modal and fill the input
	var category = document.getElementById('category');
	var expenseType = document.getElementById('expense_type');
	var modal = document.getElementById('modal2_close');
	if (document.body.addEventListener) {
		document.body.addEventListener('click', categoryClickedHandler, false);
	}
	else {
		document.body.attachEvent('onclick', categoryClickedHandler);//for IE
	}

	function categoryClickedHandler(e) {
		e = e || window.event;
		var target = e.target || e.srcElement;
		if (target.className.match('category')) {
			category.value = target.innerHTML;
			category.classList.add('valid');
			expenseType.value = (target.parentNode.parentNode.parentNode.parentNode.firstElementChild.innerHTML);
			M.updateTextFields();
			modal.click();

		}
	}

	const divs = document.querySelectorAll('.save-modal');
	divs.forEach(el => el.addEventListener('click', event => {
		var expenseType = document.getElementById("expense_type").value;
		var bought_date_var = document.getElementById("bought_date").value;
		var category_var = document.getElementById("category").value;
		var description_var = document.getElementById("description").value;
		var price_var = document.getElementById("price").value;

		spendings.insertSpending({
			type: expenseType,
			bought_date: bought_date_var,
			description: description_var,
			category: category_var,
			price: price_var
		});

		var link = document.createElement('a');
		link.href = "#!";
		link.click();
	}));

</script>
{% endblock %}